@font-face {
  font-family: 'RosmatikaRegular';
  src: url(./RosmatikaRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'P22 Marcel Caps';
  src: url(./P22\ Marcel\ W00\ Caps.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100vh;
}
body {
  background: linear-gradient(
      180deg,
      hsl(0, 0%, 100%, 1.5),
      hsla(0, 0%, 100%, 0)
    ),
    url('./background.jpeg') bottom no-repeat;
  background-size: cover;
  user-select: none;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
h1{
  font-family: 'RosmatikaRegular',sans-serif;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}

.home_header {
  width: 100%;
  height: 100px;
  display: flex;
}
.home_header * {
  height: 100%;
  font-size: 25px;
}
.home_header > div {
  flex: 1;
}
.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  height: fit-content;
  font-size: 40px;
}
.nav_links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_links li {
  height: fit-content;
  margin: 0 10px;
  padding: 5px;
  list-style: none;
  transition: 0.5s;
}
.nav_links li:hover {
  margin-top: 10px;
  color: whitesmoke;
}
.nav_links li:has(svg) {
  height: 25px;
}
.nav_links li a {
  height: inherit;
  font-size: 0.5cm;
}
/* .media_logos {
  display: flex;
  margin: 5px;
  width: 20px;
  height:15px;
}
.media_logos a {
  width: fit-content;
  margin: 10 5px;
} */
.logo {
  display: flex;
  margin-left: 5vh;
  margin-top: 0.1cm;
  padding-top: 0.5cm;
  height: 1.75cm;
  width: auto; /* correct proportions to specified height */
  border-radius: 50%; /* makes it a circle */
}

.coffee {
  margin-top: 2.30cm;
  margin-left: 0.15cm;
  font-family: 'P22 Marcel Caps',sans-serif;
}

.home_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.welcome_message {
  margin-top: 60px;
  color: whitesmoke;
}
.menu {
  margin-top: 30px;
  padding: 3px 21px;
  color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  font-size: 30px;
  background: transparent;
  transition: 0.5s;
  text-align: center;
}
.menu:hover {
  color: black;
  border: 3px solid black;
}
